body {
  font-family: 'robotoregular', 'Arial', 'sans-serif';
  font-size: 13px;
  line-height: 1.42857;
  color: #616161;
  background-color: #eaeaea;
}
strong {
  font-weight: normal;
  font-family: 'robotobold';
}
em {
  font-style: normal;
  font-family: 'robotoitalic';
}
ul {
  list-style: none;
  padding-left: 0;
}
.d-block {
  display: block !important;
}
.d-inline {
  display: inline;
}
.d-iblock {
  display: inline-block;
}
.d-none {
  display: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.f-left {
  float: left;
  width: auto;
}
.f-right {
  float: right;
}
.mod-img {
  float: left;
}
.mod-img img {
  display: block;
}
.mod-txt {
  display: table;
  height: 1%;
}
.content {
  min-height: 600px;
}
input[data-toggle="dropdown"] {
  cursor: pointer;
}
@font-face {
  font-family: 'robotothin';
  src: url('../font/roboto/roboto-thin-webfont.eot');
  src: url('../font/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-thin-webfont.woff') format('woff'), url('../font/roboto/roboto-thin-webfont.ttf') format('truetype'), url('../font/roboto/roboto-thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../font/roboto/roboto-regular-webfont.eot');
  src: url('../font/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-regular-webfont.woff') format('woff'), url('../font/roboto/roboto-regular-webfont.ttf') format('truetype'), url('../font/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium_italic';
  src: url('../font/roboto/roboto-mediumitalic-webfont.eot');
  src: url('../font/roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-mediumitalic-webfont.woff') format('woff'), url('../font/roboto/roboto-mediumitalic-webfont.ttf') format('truetype'), url('../font/roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin_italic';
  src: url('../font/roboto/roboto-thinitalic-webfont.eot');
  src: url('../font/roboto/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-thinitalic-webfont.woff') format('woff'), url('../font/roboto/roboto-thinitalic-webfont.ttf') format('truetype'), url('../font/roboto/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight_italic';
  src: url('../font/roboto/roboto-lightitalic-webfont.eot');
  src: url('../font/roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-lightitalic-webfont.woff') format('woff'), url('../font/roboto/roboto-lightitalic-webfont.ttf') format('truetype'), url('../font/roboto/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('../font/roboto/roboto-medium-webfont.eot');
  src: url('../font/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-medium-webfont.woff') format('woff'), url('../font/roboto/roboto-medium-webfont.ttf') format('truetype'), url('../font/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoitalic';
  src: url('../font/roboto/roboto-italic-webfont.eot');
  src: url('../font/roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-italic-webfont.woff') format('woff'), url('../font/roboto/roboto-italic-webfont.ttf') format('truetype'), url('../font/roboto/roboto-italic-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('../font/roboto/roboto-light-webfont.eot');
  src: url('../font/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-light-webfont.woff') format('woff'), url('../font/roboto/roboto-light-webfont.ttf') format('truetype'), url('../font/roboto/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold_italic';
  src: url('../font/roboto/roboto-bolditalic-webfont.eot');
  src: url('../font/roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-bolditalic-webfont.woff') format('woff'), url('../font/roboto/roboto-bolditalic-webfont.ttf') format('truetype'), url('../font/roboto/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url('../font/roboto/roboto-bold-webfont.eot');
  src: url('../font/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-bold-webfont.woff') format('woff'), url('../font/roboto/roboto-bold-webfont.ttf') format('truetype'), url('../font/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoblack';
  src: url('../font/roboto/roboto-black-webfont.eot');
  src: url('../font/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-black-webfont.woff') format('woff'), url('../font/roboto/roboto-black-webfont.ttf') format('truetype'), url('../font/roboto/roboto-black-webfont.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoblack_italic';
  src: url('../font/roboto/roboto-blackitalic-webfont.eot');
  src: url('../font/roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto/roboto-blackitalic-webfont.woff') format('woff'), url('../font/roboto/roboto-blackitalic-webfont.ttf') format('truetype'), url('../font/roboto/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url('../font/roboto-condensed/robotocondensed-lightitalic-webfont.eot');
  src: url('../font/roboto-condensed/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto-condensed/robotocondensed-lightitalic-webfont.woff') format('woff'), url('../font/roboto-condensed/robotocondensed-lightitalic-webfont.ttf') format('truetype'), url('../font/roboto-condensed/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight';
  src: url('../font/roboto-condensed/robotocondensed-light-webfont.eot');
  src: url('../font/roboto-condensed/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto-condensed/robotocondensed-light-webfont.woff') format('woff'), url('../font/roboto-condensed/robotocondensed-light-webfont.ttf') format('truetype'), url('../font/roboto-condensed/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url('../font/roboto-condensed/robotocondensed-bolditalic-webfont.eot');
  src: url('../font/roboto-condensed/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto-condensed/robotocondensed-bolditalic-webfont.woff') format('woff'), url('../font/roboto-condensed/robotocondensed-bolditalic-webfont.ttf') format('truetype'), url('../font/roboto-condensed/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../font/roboto-condensed/robotocondensed-bold-webfont.eot');
  src: url('../font/roboto-condensed/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto-condensed/robotocondensed-bold-webfont.woff') format('woff'), url('../font/roboto-condensed/robotocondensed-bold-webfont.ttf') format('truetype'), url('../font/roboto-condensed/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condenseditalic';
  src: url('../font/roboto-condensed/robotocondensed-italic-webfont.eot');
  src: url('../font/roboto-condensed/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto-condensed/robotocondensed-italic-webfont.woff') format('woff'), url('../font/roboto-condensed/robotocondensed-italic-webfont.ttf') format('truetype'), url('../font/roboto-condensed/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../font/roboto-condensed/robotocondensed-regular-webfont.eot');
  src: url('../font/roboto-condensed/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/roboto-condensed/robotocondensed-regular-webfont.woff') format('woff'), url('../font/roboto-condensed/robotocondensed-regular-webfont.ttf') format('truetype'), url('../font/roboto-condensed/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../font/ico-fanontour/icomoon.eot?-dl8972');
  src: url('../font/ico-fanontour/icomoon.eot?#iefix-dl8972') format('embedded-opentype'), url('../font/ico-fanontour/icomoon.woff?-dl8972') format('woff'), url('../font/ico-fanontour/icomoon.ttf?-dl8972') format('truetype'), url('../font/ico-fanontour/icomoon.svg?-dl8972#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="fanontour-icon"],
[class*=" fanontour-icon"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icons-fanontour_activity:before {
  content: "\e605";
}
.icon-icons-fanontour_cars:before {
  content: "\e606";
}
.icon-icons-fanontour_entry:before {
  content: "\e607";
}
.icon-icons-fanontour_flight:before {
  content: "\e608";
}
.icon-icons-fanontour_hotel:before {
  content: "\e609";
}
.icon-icons-fanontour_restaurant:before {
  content: "\e60a";
}
.icon-icons-fanontour_ticket:before {
  content: "\e60b";
}
.icon-icons-fanontour_concert:before {
  content: "\e600";
}
.icon-icons-fanontour_festival:before {
  content: "\e601";
}
.icon-icons-fanontour_other:before {
  content: "\e602";
}
.icon-icons-fanontour_sport:before {
  content: "\e603";
}
.icon-icons-fanontour_search:before {
  content: "\e604";
}
.icon-icons-fanontour_menu:before {
  content: "\e60c";
}
.icon-icons-fanontour_trash:before {
  content: "\e60d";
}
.no-margin {
  margin: 0 !important;
}
.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-20 {
  margin: 20px;
}
.margin-v-5 {
  margin: 5px 0;
}
.margin-v-10 {
  margin: 10px 0;
}
.margin-v-15 {
  margin: 15px 0;
}
.margin-v-20 {
  margin: 20px 0;
}
.margin-h-5 {
  margin: 0 5px;
}
.margin-h-10 {
  margin: 0 10px;
}
.margin-h-15 {
  margin: 0 15px;
}
.margin-h-20 {
  margin: 0 20px;
}
.no-padding {
  padding: 0 !important;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-v-5 {
  padding: 5px 0;
}
.padding-v-10 {
  padding: 10px 0;
}
.padding-v-15 {
  padding: 15px 0;
}
.padding-v-20 {
  padding: 20px 0;
}
.padding-h-5 {
  padding: 0 5px;
}
.padding-h-10 {
  padding: 0 10px;
}
.padding-h-15 {
  padding: 0 15px;
}
.padding-h-20 {
  padding: 0 20px;
}
.no-border {
  border: none !important;
}
.no-border-top {
  border-top: none !important;
}
.no-border-right {
  border-right: none !important;
}
.no-border-botom {
  border-bottom: none !important;
}
.no-border-left {
  border-left: none !important;
}
.floatl {
  float: left;
}
.floatr {
  float: right;
}
.clearl {
  clear: left;
}
.clearr {
  clear: right;
}
.dblock {
  display: block;
}
.dnone {
  display: none;
}
.dinline-block {
  display: inline-block;
}
h1 {
  margin-top: 0;
  font: normal 2.143em/1em 'roboto_condensedbold', 'Arial Black', 'sans-serif';
  margin-bottom: 10px;
  color: #4c4c4c;
}
h2 {
  margin-top: 0;
  font: normal 1.143em/1.1em 'robotobold', 'Arial Black', 'sans-serif';
  margin-bottom: 20px;
  color: #7a7575;
}
h3 {
  margin-top: 0;
}
h4 {
  margin-top: 0;
}
h5 {
  margin-top: 0;
}
h6 {
  margin-top: 0;
}
a {
  color: #0669b2;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
a:hover {
  color: #6eb21b;
  text-decoration: none;
}
label {
  font: normal 1em/1.1em 'robotoregular', 'Arial', 'sans-serif';
  color: #403f3f;
}
input.form-control,
textarea.form-control {
  font-size: .9em;
}
.checkbox,
.radio {
  display: block;
  min-height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
}
.checkbox label,
.radio label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
.checkbox input[type="radio"],
.radio input[type="radio"],
.checkbox input[type="checkbox"],
.radio input[type="checkbox"] {
  float: left;
  margin-left: -20px;
  display: none;
}
.checkbox input[type="radio"] + span,
.radio input[type="radio"] + span,
.checkbox input[type="checkbox"] + span,
.radio input[type="checkbox"] + span {
  display: inline-block;
  margin-left: -20px;
  margin-right: 0.5em;
  float: left;
  width: 19px;
  height: 18px;
  background: url('../img/sprites/form-sprite.png') no-repeat 0 0;
}
.checkbox input[type="checkbox"] + span,
.radio input[type="checkbox"] + span {
  background-position: 0 0;
}
.checkbox input[type="checkbox"]:checked + span,
.radio input[type="checkbox"]:checked + span {
  background-position: 0 -18px;
}
.title-photo {
  font: normal 3em 'roboto_condensedbold', 'Arial Black', 'sans-serif';
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 88px;
  margin-bottom: 14px;
  position: relative;
  z-index: 2;
}
.list-point li {
  font: normal 1em/1.2em 'robotomedium', 'Arial', 'sans-serif';
  background: url('../img/icons/shapes/green-circle.png') no-repeat 0 center;
  margin-left: 18px;
  padding-left: 25px;
  padding-right: 0;
  vertical-align: middle;
}
.list-point li:first-child {
  margin-left: 0;
  padding-left: 0;
  background: none;
}
.list-point li.not-point {
  background: none;
}
.dropdown-tab {
  width: 100%;
}
.dropdown-tab.open .dropdown-toggle {
  background-color: #6eb21b !important;
}
.dropdown-tab .dropdown-menu {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  padding: 0;
}
.dropdown-tab .dropdown-menu li {
  border-top: 1px #1f7fc5 solid;
  border-bottom: 1px #014c84 solid;
}
.dropdown-tab .dropdown-menu li a {
  width: 100%;
  margin-left: 0;
  padding: 9px 0;
  background-color: #0669b2 !important;
}
.dropdown-tab .dropdown-menu li a:hover {
  background-color: #6eb21b !important;
  color: #ffffff;
}
.dropdown-language {
  width: 74px;
}
.dropdown-language .main-link {
  background-color: #d2d2d2;
  padding: 7px 24px 7px 10px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dropdown-language li {
  text-align: center;
  margin: 0;
  padding: 0;
}
.dropdown-language a {
  color: #4a4a4a;
  text-transform: uppercase;
}
.dropdown-language a.shape-arrow {
  position: relative;
}
.dropdown-language a.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #4a4a4a;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 0;
  content: "";
  height: 0;
  left: 53px;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 2;
}
.dropdown-language a:hover {
  color: #0669b2;
}
.dropdown-language a:hover.shape-arrow {
  position: relative;
}
.dropdown-language a:hover.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #0669b2;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 0;
  content: "";
  height: 0;
  left: 53px;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 2;
}
.dropdown-language .dropdown-menu {
  min-width: 71px;
  width: 71px;
  background-color: #0669b2;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  font-size: .9em;
}
.dropdown-language .dropdown-menu li {
  border-top: 1px #014c84 solid;
  border-bottom: 1px #1f7fc5 solid;
}
.dropdown-language .dropdown-menu li:hover {
  border-top: 1px #6eb21b solid;
  border-bottom: 1px #6eb21b solid;
}
.dropdown-language .dropdown-menu a {
  padding: 5px 15px;
  color: #ffffff;
  font-family: 'robotoregular';
  display: block;
}
.dropdown-language .dropdown-menu a:hover {
  background-color: #6eb21b;
  color: #ffffff;
}
.dropdown-language .dropdown-menu a:first-child {
  border: none;
}
.dropdown-language.open a.shape-arrow {
  position: relative;
}
.dropdown-language.open a.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #4a4a4a;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 53px;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 2;
}
.dropdown-language.open a:hover.shape-arrow {
  position: relative;
}
.dropdown-language.open a:hover.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #0669b2;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 53px;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 2;
}
.dropdown-mobile-menu {
  width: 40px;
  position: static;
}
.dropdown-mobile-menu span {
  display: block;
  font-size: 2.9em;
  line-height: .8em;
  overflow: hidden;
  margin-top: 2px;
}
.dropdown-mobile-menu .dropdown-menu {
  background-color: #0669b2;
  top: 57px;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
}
.dropdown-mobile-menu .dropdown-menu a {
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}
.dropdown-mobile-menu .dropdown-menu a:hover {
  background-color: #6eb21b;
  color: #ffffff;
}
.dropdown-mobile-menu .dropdown-menu li {
  border-top: 1px #014c84 solid;
}
.dropdown-mobile-menu .dropdown-menu li li {
  border: none;
}
.dropdown-mobile-menu .dropdown-menu li li a {
  padding: 0;
}
.dropdown-mobile-menu .dropdown-menu .highlight {
  border: none;
}
.dropdown-mobile-menu .dropdown-menu .highlight a {
  background-color: #6eb21b;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
}
.dropdown-mobile-menu.open a {
  color: #6eb21b;
}
.dropdown-mobile-menu.open li a {
  color: #ffffff;
}
.dropdown-mobile-menu#dropdown-mobile-02.open img {
  border-bottom: 4px #6eb21b solid;
}
.dropdown-form {
  position: relative;
}
.dropdown-form a.shape-arrow {
  position: relative;
}
.dropdown-form a.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #4a4a4a;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 0;
  content: "";
  height: 0;
  left: 182px;
  position: absolute;
  top: 5px;
  width: 0;
  z-index: 2;
}
.dropdown-form a input {
  cursor: pointer;
}
.dropdown-form .dropdown-menu {
  width: 600px;
  padding: 0;
}
.dropdown-form .dropdown-menu li {
  background-color: #0669b2;
  border-top: 1px #45a9d1 solid;
  border-bottom: 1px #014c84 solid;
  padding: 2px 0;
}
.dropdown-form .dropdown-menu li:hover {
  background-color: #6eb21b;
}
.dropdown-form .dropdown-menu li:hover a {
  color: #ffffff;
}
.dropdown-form .dropdown-menu a {
  font-size: .85em;
  text-align: center;
  color: #ffffff;
}
.dropdown-form .dropdown-menu a:hover {
  background-color: #6eb21b;
}
.dropdown-form.open a.shape-arrow {
  position: relative;
}
.dropdown-form.open a.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #4a4a4a;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 182px;
  position: absolute;
  top: 5px;
  width: 0;
  z-index: 2;
}
.dropdown-form.open a:hover.shape-arrow {
  position: relative;
}
.dropdown-form.open a:hover.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #0669b2;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 182px;
  position: absolute;
  top: 5px;
  width: 0;
  z-index: 2;
}
.btn-primary {
  background-color: #0669b2;
  color: #ffffff;
  border-color: #0669b2;
  font-family: 'robotomedium', 'Arial', 'sans-serif';
}
.btn-primary:hover {
  background-color: #6eb21b;
  border-color: #6eb21b;
}
.btn-search {
  background-color: #6eb21b;
  color: #ffffff;
  font: normal 1.131em/1.2em 'roboto_condensedregular', 'Arial', 'sans-serif';
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  vertical-align: middle;
}
.btn-search:hover {
  color: #ffffff;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
.btn-search span {
  font-size: .85em;
  padding-left: 5px;
  position: relative;
  top: -1px;
}
.tab-default .nav-tabs {
  border: none;
}
.tab-default .nav-tabs li {
  margin-bottom: 0;
}
.tab-default .nav-tabs li:first-child a {
  margin-left: 0;
}
.tab-default .nav-tabs a {
  background-color: #0669b2;
  color: #ffffff;
  border: none;
  margin-right: 0;
  margin-left: 3px;
  width: 105px;
  text-align: center;
  padding: 10px 0;
}
.tab-default .nav-tabs a:hover {
  border: none;
  background-color: #6eb21b;
}
.tab-default .nav-tabs a.highlight {
  width: 170px;
  padding-right: 48px;
}
.tab-default .nav-tabs li.active {
  border: none;
}
.tab-default .nav-tabs li.active a {
  background-color: #6eb21b;
  color: #ffffff;
  border: none;
}
.tab-default .nav-tabs .text-new-feature {
  position: absolute;
  right: 0;
  top: 0;
  width: 58px;
  padding-left: 20px;
  text-align: center;
  background: transparent url('../img/shapes/rec_left.png') no-repeat 0 0;
}
.tab-default .nav-tabs .text-new-feature span {
  display: block;
  width: 100%;
  background-color: #b00808;
  padding: 10px 20px 10px 0;
}
.bg-white {
  background-color: #ffffff;
}
.bg-container {
  background: url('../img/backgrounds/home/tickets_h_600px.jpg') no-repeat center 0;
  background-size: cover;
  width: 100%;
  height: 532px;
  top: 56px;
}
.bg-container-generic {
  background: url('../img/backgrounds/general/general-background_200px-h.jpg') no-repeat center 0;
  background-size: cover;
  width: 100%;
  height: 200px;
  top: 56px;
}
.bg-trans-title {
  background: url('../img/backgrounds/bg-trans-titles.png') repeat-y 0 0;
  padding-left: 22px;
}
.text-new-feature {
  font: normal 1em 'roboto_condensedbold', 'Arial Black', 'sans-serif';
  background-color: #b00808;
  color: #ffffff;
}
.big-text {
  font: normal 2em 'roboto_condensedbold', 'Arial Black', 'sans-serif';
  text-shadow: 1px 1px #ffffff;
}
.panel-default .panel-heading {
  padding: 0;
}
.panel-default h4 a {
  padding: 10px 15px;
  display: block;
}
.fanontour-panel-primary {
  border: 1px #eaeaea solid;
}
.fanontour-panel-primary .panel-heading {
  background-color: #0669b2;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fanontour-panel-primary .panel-title {
  font: normal 1.231em/1.4em 'robotoregular', 'Arial', 'sans-serif';
  color: #ffffff;
}
.panel-accordion .panel-title {
  text-transform: uppercase;
  font: normal 1.3em 'roboto_condensedbold', 'Arial', 'sans-serif';
  color: #403f3f;
}
.panel-accordion .panel-heading {
  padding: 0;
}
.panel-accordion .panel-heading h4 a {
  padding: 10px 15px;
  display: block;
}
.panel-accordion .panel-heading.active {
  background-color: #6eb21b;
}
.panel-accordion .panel-heading.active h4 a {
  color: #ffffff;
}
.panel-accordion .panel-heading.has-error {
  background-color: #b00808;
}
.form-default {
  padding-top: 20px;
}
.form-default .leyend {
  font-size: 0.923em;
  position: absolute;
  top: 0;
  right: 0;
}
.form-default .input-group {
  padding: 0 15px;
}
.form-default .captcha img {
  max-width: 302px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
}
.small-field-h {
  padding: 0 5px;
  height: 27px;
}
.small-field-h + .input-group-addon {
  padding-top: 4px;
  padding-bottom: 4px;
}
.small-field-w {
  width: 55px !important;
}
.small-field-w input {
  width: 55px !important;
}
.time-field {
  display: inline-block;
}
.time-field .sr-only {
  width: 0 !important;
}
.time-field a {
  position: relative;
}
.time-field a.shape-arrow {
  position: relative !important;
}
.time-field a.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0) !important;
  border-top: 5px solid #4a4a4a !important;
  border-right: 5px solid rgba(0, 0, 0, 0) !important;
  border-bottom: 0 !important;
  content: "" !important;
  height: 0 !important;
  left: 36px !important;
  position: absolute !important;
  top: 4px !important;
  width: 0 !important;
  z-index: 2 !important;
}
.time-field label {
  display: inline-block;
  width: 33px;
}
.time-field input {
  max-width: 50px;
  display: inline-block;
}
.time-field .dropdown-form {
  display: inline-block;
}
.time-field .dropdown-menu {
  max-width: 56px !important;
  min-width: inherit;
}
.time-field .form-group {
  vertical-align: inherit;
}
.sprite {
  background: url('../img/sprites/sprite.png') no-repeat 0 0;
}
.modal-default .modal-header {
  background-color: #0669b2;
}
.modal-default .modal-header .close {
  font-size: 2.8em;
  margin-top: -10px;
}
.modal-default .modal-title {
  font: normal 1.5em/1.2em 'roboto_condensedbold', 'Arial Black', 'sans-serif';
  color: #ffffff;
}
#modal-customized-tour h4 a span {
  font-size: 1.2em;
}
#modal-customized-tour .dropdown a {
  width: 100%;
  display: block;
}
#modal-customized-tour .dropdown a.shape-arrow {
  position: relative;
}
#modal-customized-tour .dropdown a.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #4a4a4a;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 0;
  content: "";
  height: 0;
  left: 512px;
  position: absolute;
  top: 16px;
  width: 0;
  z-index: 2;
}
#modal-customized-tour .checkbox label {
  padding-left: 0;
}
#modal-customized-tour .time-field a.shape-arrow {
  position: relative !important;
}
#modal-customized-tour .time-field a.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0) !important;
  border-top: 5px solid #4a4a4a !important;
  border-right: 5px solid rgba(0, 0, 0, 0) !important;
  border-bottom: 0 !important;
  content: "" !important;
  height: 0 !important;
  left: 36px !important;
  position: absolute !important;
  top: 15px !important;
  width: 0 !important;
  z-index: 2 !important;
}
#modal-customized-tour .age-field {
  display: none;
  margin-left: 15px;
  position: absolute;
  left: 220px;
  top: -8px;
}
#modal-customized-tour .age-field input {
  display: inline;
}
#modal-customized-tour .btn-reset {
  float: right;
  margin-top: 15px;
  padding-left: 10px;
}
#modal-customized-tour .btn-reset span {
  padding-right: 5px;
}
#modal-customized-tour .col-sm-6 a.shape-arrow {
  position: relative;
}
#modal-customized-tour .col-sm-6 a.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #4a4a4a;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 0;
  content: "";
  height: 0;
  left: 232px;
  position: absolute;
  top: 16px;
  width: 0;
  z-index: 2;
}
#modal-customized-tour .modal-footer {
  border: none;
}
.tooltip .tooltip-inner {
  background-color: #0669b2;
  padding-top: 10px;
  padding-bottom: 10px;
}
.alert strong {
  font-family: 'robotobold', 'Arial Black', 'sans-serif';
  font-weight: normal;
}
.breadcrumb-default {
  padding-top: 10px;
  background-color: transparent;
  font: normal 0.923em/1em 'robotomedium', 'Arial', 'sans-serif';
}
.carousel .carousel-caption {
  left: 0;
  bottom: 0;
  width: 100%;
  background: url('../img/backgrounds/bg_black_trans.png') 0 0;
  padding: 8px 0 24px 0;
}
.carousel .carousel-indicators {
  bottom: 0;
}
video {
  width: 100%;
  margin-bottom: 20px;
}
.embed-responsive {
  margin-bottom: 20px;
}
.price {
  font: normal 1.214em 'roboto_condensedbold', 'Arial Black', 'sans-serif';
}
.price-default {
  background-color: #0669b2;
  color: #ffffff;
}
.price-default span {
  font-size: .8em;
}
.headband-photo {
  font: normal 1em/2.2em 'roboto_condensedbold', 'Arial Black', 'sans-serif';
  background-color: #0669b2;
  color: #ffffff;
  padding: 5px;
  vertical-align: middle;
}
.headband-photo .avatar {
  float: left;
  margin-right: 8px;
}
.avatar {
  max-width: 32px;
  border: 1px #ffffff solid;
}
#header {
  position: relative;
  z-index: 2;
}
#header .sup {
  height: 58px;
  background-color: #eaeaea;
}
#header h1 {
  float: left;
  padding-top: 5px;
}
#header nav {
  float: right;
  margin-right: 20px;
  margin-top: 14px;
}
#header nav.logged {
  margin-top: 0;
}
#header .list-login {
  margin-left: 0;
}
#header .list-login li {
  background: url('../img/icons/shapes/green-line.png') no-repeat 0 center;
  padding-left: 12px;
  margin-left: 7px;
}
#header .list-login li:first-child {
  background: none;
  margin-left: 0;
  padding-left: 0;
}
#header .dropdown-language {
  float: right;
  margin-top: 15px;
}
#header .dropdown-language li {
  background: none;
}
#header .inf {
  background: url('../img/backgrounds/bg_black_trans.png');
}
#header .inf .text-hide {
  background: url('../img/text/txt-do-it.png');
  width: 118px;
  height: 24px;
}
#header .fanontour-mod-user {
  background-color: #0669b2;
  padding: 12px;
  min-width: 120px;
}
#header .fanontour-mod-user nav {
  position: absolute;
  top: 58px;
  right: -62px;
  width: 705px;
}
#header .fanontour-mod-user nav li {
  margin: 0;
  padding: 0;
  border-left: 1px #444 solid;
  float: left;
}
#header .fanontour-mod-user nav a {
  padding: 14px 20px 15px 20px;
  display: block;
}
#header .fanontour-mod-user nav a:hover {
  background-color: #6eb21b;
}
#header .fanontour-mod-user nav .active a {
  background-color: #6eb21b;
}
#header .fanontour-mod-user li {
  background: none;
}
#header .fanontour-mod-user a {
  color: #ffffff;
}
#header .fanontour-mod-user .mod-img {
  margin-right: 10px;
  width: 32px;
}
#header .fanontour-mod-user .mod-txt {
  padding-top: 9px;
}
#header .fanontour-mod-user img {
  border: 1px #ffffff solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#footer .inf1 {
  background-color: #0669b2;
  height: 55px;
  overflow: hidden;
  border-bottom: 5px #014c84 solid;
}
#footer .inf1 .fanontour-mod-share {
  width: 556px;
  margin: 0 auto;
}
#footer .inf1 p {
  float: left;
  color: #ffffff;
  margin-right: 10px;
  margin-top: 5px;
}
#footer .inf2 {
  background-color: #403f3f;
  border-bottom: 2px #262626 solid;
}
#footer .inf2 ul {
  border-left: 1px #212121 solid;
  border-right: 1px #5b5a5a solid;
}
#footer .inf2 a {
  color: #ffffff;
  font-weight: 400;
}
#footer .inf2 a:hover {
  color: #6eb21b;
}
#footer .inf2 li {
  margin-top: 15px;
}
#footer .inf2 li:first-child {
  margin-top: 0;
}
#footer .inf3 {
  background-color: #323232;
  padding-bottom: 40px;
}
#footer .inf3 img {
  display: block;
  margin: 0 auto 10px auto;
  position: relative;
  left: 15px;
}
#footer .inf3 p {
  color: #ffffff;
  font-size: .8em;
  margin-bottom: 5px;
}
#footer .fanontour-mod-share li {
  float: left;
  margin-left: 35px;
}
#footer .fanontour-mod-share a {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  position: relative;
  top: -3px;
}
#footer .fanontour-mod-share a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  top: -12px;
}
#fanontour-search-box header {
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
}
#fanontour-search-box h1 {
  font: normal 3.929em/1.2em 'roboto_condensedbold', 'Arial Black', 'sans-serif';
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}
#fanontour-search-box h2 {
  font: normal 2.143em/1.2em 'roboto_condensedbold', 'sans-serif';
  color: #ffffff;
  text-align: center;
}
#fanontour-search-box .tab-default {
  width: 818px;
  margin: 0 auto;
}
#fanontour-search-box .tab-default .highlight {
  position: relative;
  z-index: 2;
}
#fanontour-search-box .tab-default .tab-content {
  background: url('../img/backgrounds/bg_white_trans.png');
  padding: 15px;
}
#fanontour-search-box .dropdown-toggle {
  width: 100%;
  margin-left: 0;
}
#fanontour-search-box label {
  width: 100px;
  text-align: right;
  position: relative;
  top: -3px;
}
#fanontour-search-box input {
  width: 275px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 15px;
}
#fanontour-search-box .input-group {
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 15px;
}
#fanontour-search-box .input-group input {
  margin: 0;
}
#fanontour-search-box .dropdown {
  display: inline-block;
}
#fanontour-search-box .dropdown .dropdown-menu {
  background-color: transparent;
}
#fanontour-search-box .form-col-1 input {
  margin-bottom: 0;
  margin-right: 5px;
}
#fanontour-search-box .form-col-2 input,
#fanontour-search-box .form-col-2 .dropdown {
  width: 204px;
}
#fanontour-search-box .form-col-2 .input-group input {
  width: 163px;
}
#fanontour-search-box .form-col-2 .btn-search {
  margin-top: 10px;
}
#fanontour-search-box .form-col-2 .time-field .dropdown-form .dropdown-menu {
  max-width: 56px;
  min-width: inherit;
  margin-top: -10px;
}
#fanontour-search-box .form-col-3 label {
  width: 84px;
}
#fanontour-search-box .form-col-3 input,
#fanontour-search-box .form-col-3 .dropdown {
  width: 153px;
}
#fanontour-search-box .form-col-3 .dropdown-form a.shape-arrow {
  display: inline-block;
  position: relative;
}
#fanontour-search-box .form-col-3 .dropdown-form a.shape-arrow span:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #4a4a4a;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 0;
  content: "";
  height: 0;
  left: 130px;
  position: absolute;
  top: 5px;
  width: 0;
  z-index: 2;
}
#fanontour-search-box .form-col-3 .dropdown-form .dropdown-menu {
  max-width: 153px;
  margin-top: -10px;
}
#fanontour-search-box .form-col-3 .dropdown-form.dropdown-col-4 .dropdown-menu {
  max-width: 600px;
}
#fanontour-search-box .form-col-3 .input-group {
  margin-right: 0;
}
#fanontour-search-box .form-col-3 .input-group input {
  width: 112px;
}
#fanontour-search-box .checkbox,
#fanontour-search-box .radio {
  display: block;
  margin-left: 30px;
  margin-bottom: 10px;
}
#fanontour-search-box .checkbox input,
#fanontour-search-box .radio input {
  width: auto;
}
#fanontour-search-box #car-tooltip {
  font-size: 1.1em;
  margin-left: 5px;
  display: inline-block;
  position: relative;
  top: 4px;
}
#fanontour-search-box .age-field {
  display: none;
  margin-left: 15px;
  position: absolute;
  left: 124px;
  top: 25px;
}
.fanontour-mod {
  padding: 30px 0;
}
.fanontour-mod ul {
  margin-bottom: 0;
}
.fanontour-mod-default {
  border-top: 1px #ffffff solid;
  border-bottom: 1px #b2b2b2 solid;
  padding: 20px 0;
}
.fanontour-mod-default:first-child {
  border-top: none;
}
.fanontour-mod-default img {
  width: 100%;
  margin-bottom: 20px;
}
.fanontour-mod-default .carousel img {
  margin-bottom: 0;
}
.fanontour-mod-default h2 {
  font: normal 1.692em/1em 'roboto_condensedbold', 'Arial Black', 'sans-serif';
  color: #4c4c4c;
  margin-bottom: 10px;
}
.fanontour-mod-details {
  position: relative;
  margin-bottom: 30px;
}
.fanontour-mod-details .text-hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.fanontour-mod-details .fanontour-bg-img {
  overflow: hidden;
  position: relative;
}
.fanontour-mod-details .fanontour-bg-img img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.fanontour-mod-details span.glyphicon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #262626;
  color: #ffffff;
  font-size: 2em;
  z-index: 3;
  padding: 5px;
}
.fanontour-mod-details span.glyphicon.fanontour-icon-concert {
  background-color: #e3007b;
}
.fanontour-mod-details span.glyphicon.fanontour-icon-sport {
  background-color: #c6152d;
}
.fanontour-mod-details span.glyphicon.fanontour-icon-festival {
  background-color: #e8641b;
}
.fanontour-mod-details span.glyphicon.fanontour-icon-other {
  background-color: #143e5d;
}
.fanontour-mod-details span.glyphicon:hover {
  cursor: help;
}
.fanontour-mod-details .fanontour-details {
  position: relative;
}
.fanontour-mod-details .fanontour-details > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 46px;
  background: url('../img/backgrounds/bg_black_trans.png');
}
.fanontour-mod-details .fanontour-details ul {
  margin: 8px 0 0 0;
}
.fanontour-mod-details .fanontour-details li {
  color: #ffffff;
  font: normal 1em/1.1em 'roboto_condensedregular', 'Arial Black', 'sans-serif';
  border-left: 1px #ffffff solid;
  margin-left: 6px;
  padding-left: 6px;
  padding-right: 0;
}
.fanontour-mod-details .fanontour-details li:first-child {
  margin-left: 0;
  border: none;
  overflow: hidden;
  height: 17px;
  font-size: 1.1em;
}
.fanontour-mod-details h2 {
  font: normal 1.214em/1.8em 'roboto_condensedregular', 'Arial Black', 'sans-serif';
  color: #ffffff;
  float: left;
  padding: 10px 0 0 10px;
  margin-bottom: 0;
  max-width: 260px;
  max-height: 45px;
  overflow: hidden;
}
.fanontour-mod-details .bg-trans-title {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 22px;
}
.fanontour-mod-details .price {
  display: inline-block;
  margin-bottom: 0;
  padding: 12px 15px;
  float: right;
}
.fanontour-mod-details .headband {
  position: absolute;
  top: 0;
  right: 0;
}
.fanontour-mod-details:hover .fanontour-bg-img img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.fanontour-mod-details:hover .fanontour-bg-img .avatar {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.fanontour-mod-details:hover .price,
.fanontour-mod-details:hover .headband {
  background-color: #6eb21b;
}
#fanontour-search-box {
  padding-top: 171px;
  min-height: 487px;
}
#fanontour-search-box .tab-content {
  min-height: 135px;
}
@media (max-width: 992px) {
  #header .container.relative {
    position: static;
  }
  #header nav.logged {
    margin-top: 15px;
  }
  #fanontour-search-box .tab-default {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #header {
    position: fixed;
    width: 100%;
  }
  #header h1 {
    width: 200px;
  }
  #header h1 img {
    width: 100%;
  }
  #header nav {
    margin-right: 10px;
  }
  #header nav.logged {
    margin-top: 14px;
  }
  #header .list-login {
    margin: 0 auto;
    padding: 10px 0;
  }
  #footer .inf1 {
    height: auto;
  }
  #footer .inf1 .fanontour-mod-share {
    width: 315px;
    margin: 0 auto;
  }
  #footer .inf1 p {
    display: none;
  }
  #footer .inf1 ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 2px;
  }
  #footer .inf1 li {
    margin-left: 8px;
  }
  #footer .inf1 li:first-child {
    margin-left: 0;
  }
  #footer .inf1 a {
    position: static;
  }
  #footer .inf2 {
    padding: 0;
  }
  #footer .inf2 .container {
    padding: 0;
  }
  #footer .inf2 nav,
  #footer .inf2 ul {
    border: none;
  }
  #footer .inf2 li {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px #212121 solid;
    border-top: 1px #5b5a5a solid;
  }
  main {
    padding-top: 102px;
  }
  .dropdown a {
    display: block;
    width: 98%;
  }
  .dropdown a.shape-arrow span:before {
    left: inherit !important;
    right: 0 !important;
    top: 15px;
  }
  .time-field .dropdown a.shape-arrow span:before {
    top: 11px !important;
    left: 36px !important;
  }
  #fanontour-search-box {
    padding-top: 138px;
  }
  #fanontour-search-box .tab {
    -webkit-box-shadow: 0 2px 5px #666666;
    -moz-box-shadow: 0 2px 5px #666666;
    box-shadow: 0 2px 5px #666666;
  }
  #fanontour-search-box .padding-v-20 {
    padding: 0;
  }
  #fanontour-search-box header {
    top: -100px;
  }
  #fanontour-search-box h1 {
    font-size: 2.3em;
  }
  #fanontour-search-box h2 {
    font-size: 1.4em;
  }
  #fanontour-search-box label {
    width: 100%;
    text-align: left;
  }
  #fanontour-search-box input {
    width: 100%;
  }
  #fanontour-search-box .form-col-1 input {
    margin-bottom: 10px;
  }
  #fanontour-search-box .form-col-2 input {
    width: 100%;
  }
  #fanontour-search-box .form-col-2 .input-group {
    margin-right: 0;
    margin-bottom: 18px;
  }
  #fanontour-search-box .form-col-2 .input-group input {
    width: 100%;
    margin-bottom: 0;
  }
  #fanontour-search-box .form-col-2 .dropdown {
    width: 100%;
  }
  #fanontour-search-box .form-col-2 .btn-search {
    margin-top: 0;
  }
  #fanontour-search-box .age-field {
    position: static;
  }
  #fanontour-search-box .age-field input {
    display: inline;
  }
  .bg-container {
    background: url('../img/backgrounds/home/mobile_h_600px.jpg') no-repeat center 0;
    background-size: cover;
  }
}
@media (max-width: 480px) {
  #header nav {
    margin-right: 0;
  }
  #header .dropdown-language {
    position: absolute;
    top: 49px;
    right: 15px;
  }
  #footer .inf1 li {
    margin-left: 2px;
  }
  #footer .inf1 .fanontour-mod-share {
    width: 275px;
  }
  .fanontour-mod-details {
    width: 100%;
  }
}
/*# sourceMappingURL=bootstrap.css.map */