//Results page
//=======================

.col-filter{
	min-height: 1108px;
}

#results{
	.nav-tabs{		
		border-bottom: 1px @colorK3 solid;
	}	
	.tab-content{
		padding-top: 20px;
		border-top: 1px @colorW solid;
		background-color: @colorK5;
	}

	.results{
		#list_results{
			background-color: @colorK5;

			li:hover{
				background-color: @colorW;
			}
		}		
	}
}

