//Home page
//=======================

#bg-container{
	background: url('../img/backgrounds/home/tickets_h_600px.jpg') no-repeat center 0;
	background-size: contain;
	min-height: 600px;
	position: relative;
	top: -45px;
	padding-top: 120px;
}

#fanontour-search-box{
	padding-top: 130px;
	margin-bottom: 113px;

	.tab-content{
		min-height: 135px
	}
}	

