//HEADER
//=====================

#header{
	padding: 10px 0;

	h1{
		float: left;		
	}

	//Navigation
	nav{
		float: right;
	}

	.list-login{
		margin-left: 0;

		li{
			background: url('../img/icons/shapes/green-line.png') no-repeat 0 center;
			padding-left: 12px;
			margin-left: 7px;

			&:first-child{
				background: none;
			}
		}
	}
}