//HEADER
//=====================

#header{
	position: relative;
	z-index: 2;	

	.sup{
		height: 58px;
		background-color: @colorK4;
	}

	h1{
		float: left;
		padding-top: 5px;
	}

	//Navigation
	nav{
		float: right;
		margin-right: 20px;	
		margin-top: 14px;

		&.logged{
			margin-top: 0;
		}	
	}

	.list-login{
		margin-left: 0;		

		li{
			background: url('../img/icons/shapes/green-line.png') no-repeat 0 center;
			padding-left: 12px;
			margin-left: 7px;

			&:first-child{
				background: none;
				margin-left: 0;
				padding-left: 0;
			}
		}
	}

	//dropdowns
	.dropdown-language{
		float: right;
		margin-top: 15px;

		li{
			background: none;
		}		
	}

	.inf{
		background: url('../img/backgrounds/bg_black_trans.png');		

		.text-hide{
			background: url('../img/text/txt-do-it.png');
			width: 118px;
			height: 24px;
		}
	}

	//Private navigation
	.fanontour-mod-user{
		background-color: @colorB1;
		padding: 12px;
		min-width: 120px;

		nav{
			position: absolute;
			top: 58px;
			right: -62px;
			width: 705px;

			li{
				margin: 0;
				padding: 0;
				border-left: 1px #444 solid;
				
				float: left;
			}

			a{
				padding: 14px 20px 15px 20px;
				display: block;

				&:hover{
					background-color: @colorG1;
				}
			}

			.active{
				a{
					background-color: @colorG1;
				}	
			}
		}

		li{
			background: none;
		}

		a{
			color: @colorW;			
		}

		.mod-img{
			margin-right: 10px;
			width: 32px;
		}

		.mod-txt{
			padding-top: 9px;		
		}

		img{
			border: 1px @colorW solid;
			.border-radius (@radius: @radius);
			max-width: 34px;
		}

	}

}