//SEARCH BOX
//=====================
#fanontour-search-box{

	header{
		position: absolute;
		top: -155px;
		left: 0;
		width: 100%;
	}
	
	h1{
		font: normal 3.929em/1.2em 'roboto_condensedbold', @font-title-system, @font-third;
		color: @colorW;
		text-align: center;	
		text-transform: uppercase;
		margin-bottom: 0;
	}

	h2{
		font: normal 2.143em/1.2em @font-title, @font-third;
		color: @colorW;
		text-align: center;
	}

	.tab-default{
		width: 733px;
		margin: 0 auto;

		.highlight{
			position: relative;
			z-index: 2;
		}

		.tab-content{
			background: url('../img/backgrounds/bg_white_trans.png');
			padding: 20px;
		}		
	}

	.text-new-feature{
		position: absolute;
		right: -56px;
		top: -82px;
	}
}