<?php
 function activeMenu($section, $active){
 	if($active == $section){
 		echo "class='active'";
 	}
 }?>

<header id="header">
	<div class="sup clearfix">
		<div class="container relative">
			<h1 class="no-margin"><a href="/fanontour/" title="Ir a la página de inicio"><img src="img/logos/logo.png" alt="FanOnTour"></a></h1>
			<div id="dropdown-language-01" class="dropdown dropdown-language">
			 	<a data-toggle="dropdown" href="#" title="see FanOnTour in english" class="main-link shape-arrow"><img src="img/icons/flags/english.png" alt="English"> <span>en</span></a>
			 	<ul class="dropdown-menu no-padding" role="menu" aria-labelledby="dropdown-language-01">
			    	<li><a href="#" title="ver FanOnTour en español"><img src="img/icons/flags/spain.png" alt="Español"> es</a></li>
					<li><a href="#" title="siehe fanontour in Deutsch"><img src="img/icons/flags/deutch.png" alt="Deutsch"> de</a></li>
			  	</ul>			  	
			</div>
			<div id="dropdown-money" class="dropdown dropdown-language">
			 	<a data-toggle="dropdown" href="#" title="see FanOnTour in english" class="main-link shape-arrow">&euro; <span>EUR</span></a>
			 	<ul class="dropdown-menu no-padding" role="menu" aria-labelledby="dropdown-language-01">
			    	<li><a href="#" title="GBP"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span> GBP</a></li>
					<li><a href="#" title="USD"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> USD</a></li>
			  	</ul>			  	
			</div>		
			<nav class="logged hidden-xs hidden-sm">
				<ul class="list-point list-inline no-margin">		
					<li><a href="02_how-it-works.html" title="How it works">How it works</a></li>
					<li class="fanontour-mod-user clearfix not-point">
						<div class="mod-img">
							<a href="05_my-profile.html" title="editar perfil">
								<img src="/fanontour/img/avatar/avatar.jpg" alt="usuario">
							</a>
						</div>
						<div class="mod-txt">
							<a href="05_my-profile.html" title="edit profile"><span>jmocana</span></a>
						</div>
						<nav class="no-margin">
							<ul class="list-inline">
								<li <?php activeMenu($section, "home");?>><a href="00_home_private.html" title="go to the init page">Home</a></li>
								<li <?php activeMenu($section, "profile");?>><a href="05_my-profile.html" title="My profile">Profile</a></li>
								<li <?php activeMenu($section, "fanfriends");?>><a href="05_my-fanfriends.html" title="My FanFriends">FanFriends</a></li>
								<li <?php activeMenu($section, "next-tours");?>><a href="05_my-next-tours.html" title="See my next tours">Next tours</a></li>
								<li <?php activeMenu($section, "last-tours");?>><a href="05_my-last-tours.html" title="See my lastest tours">Last tours</a>
								<li <?php activeMenu($section, "alerts");?>><a href="05_my-tour-alerts.html" title="See my alerts">Alerts</a></li>
								</li>
							</ul>
						</nav>
					</li>
					<li class="not-point no-margi no-padding"><a href="00_home.html" title="cerrar sesión">Log out</a></li>																								
				</ul>			
			</nav>
			<nav class="logged visible-xs visible-sm">
				<div id="dropdown-mobile-02" class="dropdown dropdown-mobile-menu">
				 	<a data-toggle="dropdown" href="#" title="ver menu"><img src="/fanontour/img/avatar/user.jpg" alt="user"></a>
				 	<ul class="dropdown-menu no-padding" role="menu" aria-labelledby="dropdown-mobile-02">
				    	<li <?php activeMenu($section, "home");?>><a href="00_home_private.html" title="go to the init page">Home</a></li>
						<li <?php activeMenu($section, "profile");?>><a href="05_my-profile.html" title="go to my profile">Profile</a></li>
						<li <?php activeMenu($section, "fanfriends");?>><a href="05_my-fanfriends.html" title="view my FanFriends">FanFriends</a></li>
						<li <?php activeMenu($section, "next-tours");?>><a href="05_my-next-tours.html" title="next tours planed">Next tours</a></li>
						<li <?php activeMenu($section, "last-tours");?>><a href="05_my-last-tours.html" title="view my lastest tours">Last tours</a></li>
						<li <?php activeMenu($section, "alerts");?>><a href="05_my-tour-alerts.html" title="view my alertas">Alerts</a></li>				
						<li class="not-point no-margin"><a href="#" title="close session">Log out</a></li>
						<li><a href="#" title="How it works">How it works</a></li>
				  	</ul>
				</div>							
			</nav>
		</div>
	</div>
	<div class="inf padding-v-10 clearfix">
		<div class="container">
			<p class="text-hide no-margin" lang="en">Do it your way!</p>
		</div>
	</div>						
</header>