// ========================
// Variables FanOnTour
// ========================
//== Colors
@colorK: 				#000000; //black
@colorK1:     			#323232; // dark grey 
@colorK12:     			#262626; // more dark grey
@colorK2:				#403f3f; // 
@colorK21:				#4C4C4C; //
@colorK22:              #7a7575;
@colorK3: 				#b2b2b2; // 
@colorK4: 				#eaeaea; // 
@colorK5: 				#F5F5F5; // 
@colorK6:         		#cccccc; // light grey 

@colorW: 				#ffffff; //white

//Color Palette
//==================

//BLUES
@colorB1: 				#0669b2; // primary dark blue
@colorB12: 				#014c84; // primary more dark blue
@colorB2: 				#4dbce9; // primary light blue
@colorB3:				#0669b2; // secondary dark blue
@colorB4:      			#45a9d1; // secondary light blue	

//GREENS
@colorG1: 				#6eb21b; // primary green
@colorG2: 				#4dbce9; // secondary green

//REDS
@colorR1:               #b00808; //New! and errors 

//YELLOWS
@colorY1:               #dbd800; //Warning

 //Color events
//==================
@colorConcert:          #e3007b;
@colorSport:            #c6152d;
@colorFestival:         #e8641b;
@colorOther:            #143e5d;

//fonts
//==================
@font-default: 			'robotoregular';
@font-default-system:   'Arial';
@font-third: 			'sans-serif';
@font-title:            'roboto_condensedbold';
@font-title-system:     'Arial Black';

//Radius
//==================
@radius: 3px;

//transitions
//==================
@time-transition: .5s;
