// ========================
// Variables FanOnTour
// ========================
//== Colors
@colorK: 				#000000; //black
@colorK1:     			#1d1d1d; // Oscuro - Color TXT 
@colorK11: 				#292929; // 
@colorK2:				#616161; // 
@colorK21:				#818181; // 
@colorK3: 				#b2b2b2; // 
@colorK4: 				#e8e8e8; // 
@colorK41: 				#e5e5e5; // 
@colorK42: 				#e4e4e4; // 
@colorK5: 				#F5F5F5; // 
@colorK6:         		#cccccc; // 
@colorK12:         		#444444; // 

@colorW: 				#ffffff; //white

//Color Palette
//==================

//BLUES
@colorB1: 				#0669b2; // primary dark blue
@colorB2: 				#4dbce9; // primary light blue
@colorB3:				#0669b2; // secondary dark blue
@colorB4:      			#45a9d1; // secondary light blue	

//GREENS
@colorG1: 				#6eb21b; // primary green
@colorG2: 				#4dbce9; // secondary green

