<footer id="footer">
	<div class="inf1 padding-v-15 clearfix">
		<div class="container">
			<div class="fanontour-mod-share">
				<p>Follow us:</p>
				<ul class="clearfix">
					<li><a href="https://www.facebook.com/pages/Fanontour/218059581670501?sk=info " title="Join us on facebook"><img src="img/icons/social/share-facebook.png" alt="facebook"></a></li>
					<li><a href="https://plus.google.com/b/100660984953319307437/100660984953319307437/about " title="Compartir en google+"><img src="img/icons/social/share-google.png" alt="google+"></a></li>
					<li><a href="https://twitter.com/fan_on_tour" title="Join us on twitter"><img src="img/icons/social/share-twitter.png" alt="twitter"></a></li>
					<li><a href="http://instagram.com/fanontour" title="Join us on instagram"><img src="img/icons/social/share-instagram.png" alt="instagram"></a></li>
					<li><a href="http://www.pinterest.com/fanontour/" title="Join us on pintarest"><img src="img/icons/social/share-pintarest.png" alt="pintarest"></a></li>
				</ul>
			</div>
		</div>			
	</div>
	<div class="inf2 padding-v-20 clearfix">
		<div class="container">
			<nav class="clearfix">
				<ul class="text-center no-padding no-margin no-border-left clearfix col-xs-12 col-sm-4">
					<li><a href="#">How it work</a></li>				
					<li><a href="#">About us</a></li>				
					<li><a href="/fanontour/02_contact-us.html">Contact us</a></li>					
				</ul>
				<ul class="text-center no-padding no-margin clearfix col-xs-12 col-sm-4">						
					<li><a href="#">Our providers</a></li>						
					<li><a href="#">Frecuent Answers</a></li>						
					<li><a href="#">Work with us</a></li>						
				</ul>
				<ul class="text-center no-padding no-margin no-border-right clearfix col-xs-12 col-sm-4">				
					<li><a data-toggle="modal" data-target="#modal-conditions" href="/fanontour/include/modals/terms-conditions.html">Terms and conditions</a></li>				
					<li><a data-toggle="modal" data-target="#modal-policy" href="/fanontour/include/modals/privacy-policy.html">Privacy policy</a></li>				
					<li><a href="#">Donate to charity</a></li>
				</ul>
			</nav>
		</div>			
	</div>
	<div class="inf3 padding-v-15 text-center">
		<div class="container">
			<a href="#" title="ir a la página de inicio">
				<img src="img/logos/logo.png" alt="FanOnTour">
			</a>
			<p>The event and travel advisor website.</p>
			<p>Copyright &copy; 2013 Events Tickets Services <abbr title="Sociedad Limitada Unipersonal">S.L.U.</abbr> All rights reserved </p>
		</div>
	</div>
</footer>