<footer id="footer">
	<div class="inf1 padding-v-5 clearfix">
		<div class="container">
			<div class="fanontour-mod-share">
				<p>Compartir</p>
				<ul>
					<li><a href="#" title="Compartir en facebook"><img src="img/icons/social/share-facebook.png" alt="facebook"></a></li>
					<li><a href="#" title="Compartir en google+"><img src="img/icons/social/share-google.png" alt="google+"></a></li>
					<li><a href="#" title="Compartir en twitter"><img src="img/icons/social/share-twitter.png" alt="twitter"></a></li>
					<li><a href="#" title="Compartir en instagram"><img src="img/icons/social/share-instagram.png" alt="instagram"></a></li>
					<li><a href="#" title="Compartir en pintarest"><img src="img/icons/social/share-pintarest.png" alt="pintarest"></a></li>
				</ul>
			</div>
		</div>			
	</div>
	<div class="inf2 padding-v-20 clearfix">
		<div class="container">
			<nav class="clearfix">
				<ul class="text-center no-padding no-margin clearfix col-md-4">
					<li><a href="#">Como funciona</a></li>				
					<li><a href="#">Sobre nosotros</a></li>				
					<li><a href="#">Contacta con nosotros</a></li>					
				</ul>
				<ul class="text-center no-padding no-margin clearfix col-md-4">						
					<li><a href="#">Nuestros proveedores</a></li>						
					<li><a href="#"><abbr lang="en" title="Frequently Asked Questions">FAQ</abbr></a></li>						
					<li><a href="#">Trabaja con nosotros</a></li>						
				</ul>
				<ul class="text-center no-padding no-margin clearfix col-md-4">				
					<li><a href="#">Términos y condiciones</a></li>				
					<li><a href="#">Política de privacidad</a></li>			
					<li><a href="#">Ayudanos con tus donaciones</a></li>
				</ul>
			</nav>
		</div>			
	</div>
	<div class="inf3 padding-v-15 text-center">
		<div class="container">
			<a href="#" title="ir a la página de inicio">
				<img src="img/logos/logo.png" alt="FanOnTour">
			</a>
			<p>The event and travel advisor website.</p>
			<p>Copyright &copy; 2013 Events Tickets Services <abbr title="Sociedad Limitada Unipersonal">S.L.U.</abbr> All rights reserved </p>
		</div>
	</div>
</footer>