<header id="header">
	<div class="sup clearfix">
		<div class="container relative">
			<h1 class="no-margin"><a href="#" title="Ir a la página de inicio"><img src="img/logos/logo.png" alt="FanOnTour"></a></h1>
			<div id="dropdown-language-01" class="dropdown dropdown-language">
			 	<a data-toggle="dropdown" href="#" title="ver FanOnTour en español" class="main-link shape-arrow"><img src="img/icons/flags/spain.png" alt="Español"> <span>es</span></a>
			 	<ul class="dropdown-menu no-padding" role="menu" aria-labelledby="dropdown-language-01">
			    	<li><a href="#" title="see FanOnTour in english"><img src="img/icons/flags/english.png" alt="English"> en</a></li>
					<li><a href="#" title="siehe fanontour in Deutsch"><img src="img/icons/flags/deutch.png" alt="Deutsch"> de</a></li>
			  	</ul>
			</div>
			<nav class="hidden-xs">
				<ul class="list-point list-inline">		
					<li><a href="#" title="To see how it work Fanontour.com">How it works</a></li>					
					<li class="clearfix">
						<ul class="list-inline list-login">
							<li><a href="#" title="iniciar sesión">Log in</a></li>
							<li><a href="#" title="iniciar sesión con facebook"><img src="img/icons/social/icon_facebook_header.png" alt="facebook"></a></li>
						</ul>
					</li>
					<li class="highlight"><a class="btn btn-primary" href="#" >Register</a></li>											
				</ul>			
			</nav>
			<nav class="visible-xs">
				<div id="dropdown-mobile-01" class="dropdown dropdown-mobile-menu">
				 	<a data-toggle="dropdown" href="#" title="ver menu"><span class="glyphicon glyphicon-minus"></span><span class="glyphicon glyphicon-minus"></span><span class="glyphicon glyphicon-minus"></span></a>
				 	<ul class="dropdown-menu no-padding" role="menu" aria-labelledby="dropdown-mobile-01">
				    	<li><a href="#" title="To see how it work Fanontour.com">How it works</a></li>
				    	<li><a href="#" title="Init session">Log in</a></li>
				    	<li><a href="#" title="Conect with facebook">Conect with facebook</a></li>						
						<li class="highlight"><a class="btn btn-primary" href="#" >Register</a></li>	
				  	</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="inf padding-v-10 clearfix">
		<div class="container">
			<p class="text-hide no-margin" lang="en">Do it your way!</p>
		</div>
	</div>						
</header>