<header id="header">
	<div class="sup clearfix">
		<div class="container relative">
			<h1 class="no-margin"><a href="#" title="Ir a la página de inicio"><img src="img/logos/logo.png" alt="FanOnTour"></a></h1>
			<div id="dropdown-language-01" class="dropdown dropdown-language">
			 	<a data-toggle="dropdown" href="#" title="ver FanOnTour en español" class="main-link shape-arrow"><img src="img/icons/flags/spain.png" alt="Español"> <span>es</span></a>
			 	<ul class="dropdown-menu no-padding" role="menu" aria-labelledby="dropdown-language-01">
			    	<li><a href="#" title="ver FanOnTour en español"><img src="img/icons/flags/spain.png" alt="Español"> es</a></li>
					<li><a href="#" title="see FanOnTour in english"><img src="img/icons/flags/english.png" alt="English"> en</a></li>
					<li><a href="#" title="siehe fanontour in Deutsch"><img src="img/icons/flags/deutch.png" alt="Deutsch"> de</a></li>
			  	</ul>
			</div>
			<nav class="logged">
				<ul class="list-point list-inline no-margin">		
					<li class="fanontour-mod-user clearfix">
						<div class="mod-img">
							<a href="#" title="editar perfil">
								<img src="/fanontour/img/avatar/user.jpg" alt="usuario">
							</a>
						</div>
						<div class="mod-txt">
							<a class="shape-arrow" href="#" title="editar perfil"><span>jmocana</span></a>
						</div>
						<nav class="no-margin">
							<ul class="list-inline">
								<li class="active"><a href="#" title="ir a la página de inicio">Inicio</a></li>
								<li><a href="#" title="ir a mi perfil">Perfil</a></li>
								<li><a href="#" title="ir a mi perfil">FanFriends</a></li>
								<li><a href="#" title="ir a mi perfil">Próximos viajes</a></li>
								<li><a href="#" title="ir a mi perfil">Alertas</a></li>
								<li><a href="#" title="ir a mi perfil">últimos viajes realizados</a></li>
							</ul>
						</nav>
					</li>
					<li class="not-point no-margin"><a href="#" title="cerrar sesión">Log out</a></li>
					<li><a href="#" title="¿Como funciona FanOnTour?">Como funciona</a></li>																			
				</ul>			
			</nav>
		</div>
	</div>
	<div class="inf padding-v-10 clearfix">
		<div class="container">
			<p class="text-hide no-margin" lang="en">Do it your way!</p>
		</div>
	</div>						
</header>