//devices <= 480px
//=======================

@media (max-width: 480px){

	//header
	#header{
		nav{
			margin-right: 0;
		}

		.dropdown-language{
			position: absolute;
			top: 49px;
			right: 15px;
		}
	}

	//footer
	#footer{
		.inf1{
			li{
				margin-left: 2px;
			}

			.fanontour-mod-share{
				width: 275px;						
			}
		}
	}

}