//devices <= 768px
//=======================

@media (max-width: 768px){

	//header
	#header{
		position: fixed;
		width: 100%;

		h1{
			width: 200px;

			img{
				width: 100%;
			}
		}

		nav{
			margin-right: 10px;

			&.logged{
				margin-top: 14px;
			}	
		}

		.list-login{
			margin: 0 auto;
			padding: 10px 0;
		}
	}

	//footer
	#footer{
		.inf1{
			height: auto;

			.fanontour-mod-share{
				width: 315px;
				margin: 0 auto;				
			}

			p{
				display: none;
			}

			ul{
				padding-left: 0;
				margin-bottom: 0;
				margin-top: 2px;
			}

			li{
				margin-left: 8px;

				&:first-child{
					margin-left: 0;
				}
			}

			a{
				position: static;
			}
		}

		.inf2{
			padding: 0;

			.container{
				padding: 0;
			}

			nav, ul{
				border: none;
			}

			li{
				margin: 0;
				padding: 10px 0;
				border-bottom: 	1px #212121 solid;
				border-top: 	1px #5b5a5a solid;
			}
		}		
	}

	//main
	main{
		padding-top: 102px;
	}

	//search box
	#fanontour-search-box{

		padding-top: 138px;
		margin-bottom: 174px;

		header{
			top: -100px;
		}

		h1{
			font-size: 2.3em;
		}

		h2{
			font-size: 1.4em;
		}
	}

	.bg-container{
		background: url('../img/backgrounds/home/mobile_h_600px.jpg') no-repeat center 0;
		background-size: cover;		
	}	

}