//btn-primary
.btn-primary{
	background-color: @colorB1;
	color: @colorW;
	border-color: @colorB1;
	font-family: 'robotomedium', @font-default-system,  @font-third;

	&:hover{
		background-color: @colorG1;
		border-color: @colorG1;
	}
}

//btn-action
.btn-action{
	background-color: @colorG1;
	color: @colorW;
	font: normal 1.131em/1.2em 'roboto_condensedregular', @font-default-system, @font-third;
	.transition (.7s); 
	vertical-align: middle;

	&:hover{
		color: @colorW;
		.opacity (@opacity: 0.75);
	}

	span{
		font-size: .85em;
		padding-left: 5px;
		position: relative;
		top: -1px;
	}
}

//btn-search
.btn-search{
	background-color: @colorG1;
	color: @colorW;
	font: normal 1.131em/1.2em 'roboto_condensedregular', @font-default-system, @font-third;
	.transition (.7s); 
	vertical-align: middle;

	&:hover{
		color: @colorW;
		.opacity (@opacity: 0.75);
	}

	span{
		font-size: .85em;
		padding-left: 5px;
		position: relative;
		top: -1px;
	}
}

//btn-up
.btn-up{
	background-color: @colorW;
	border: 1px @colorK3 solid;
	padding: 8px 15px;
	.border-radius (@radius);
	font-size: 1.7em;
	position: fixed;
	bottom: 360px;
	right: 20px;
	display: none;

	small{
		display: block;
		font: normal .5em @font-default-system, @font-third;
	}
}

//btn-new-tour
.btn-new-tour{
	position: relative;
	top: -20px;
}

//btn-small
.btn-small{
	width: auto !important;
	font-size: .9em !important;
	padding: 4px 10px !important;
}