//form-default
.form-default{

	padding-top: 20px;

	.leyend{
		font-size: 0.923em;
		position: absolute;
		top: 0;
		right: 0;
	}

	.input-group{
		padding: 0 15px;
	}

	.captcha{
		img{
			max-width: 302px;
			margin-bottom: 5px;
			width: 100%;
			height: auto;
		}
	}
}