//form-default
.form-default{

	padding-top: 20px;

	.leyend{
		font-size: 0.923em;
		position: absolute;
		top: 0;
		right: 0;
	}

	.input-group{
		padding: 0 15px;
	}

	.captcha{
		img{
			max-width: 302px;
			margin-bottom: 5px;
			width: 100%;
			height: auto;
		}
	}
}

//Small fields
.small-field-h{
	padding: 0 5px;
	height: 27px;

	&+.input-group-addon{
		padding-top: 4px;
		padding-bottom: 4px;
	}
}

.small-field-w{
	width: 55px !important;

	input{
		width: 55px !important;
	}
}

//time
.time-field{

	display: inline-block;

	.sr-only{
		width: 0 !important;
	}

	a{
		position: relative;
		&.shape-arrow{
			.shape-arrow-bottom (@radius: 5px, @color: #4a4a4a, @x: 36px, @y: 4px) !important;
		}
	}

	label{
		display: inline-block;
		width: 33px;
	}

	input{
		max-width: 50px;
		display: inline-block;
	}

	.dropdown-form{
		display: inline-block;		
	}
		
	.dropdown-menu{
		max-width: 56px !important;
		min-width: inherit;
	}	
}

