//Modal default
.modal-default{
	.modal-header{
		background-color: @colorB1;

		.close{
			font-size: 2.8em;
			margin-top: -10px;
		}
	}

	.modal-title{
		font: normal 1.5em/1.2em @font-title, @font-title-system, @font-third;
		color: @colorW;
	}
}

#modal-customized-tour{

	h4{
		a{
			span{
				font-size: 1.2em;
			}
		}
	}

	.dropdown{
		a{
			width: 100%;

			&.shape-arrow{
				.shape-arrow-bottom (@radius: 5px, @color: #4a4a4a, @x: 512px, @y: 16px);
			}
		}
	}

	.time-field{
		a{
			&.shape-arrow{
				.shape-arrow-bottom (@radius: 5px, @color: #4a4a4a, @x: 36px, @y: 14px) !important;
			}
		}
	}

	.age-field{
		display: none;
		margin-left: 15px;
		position: absolute;
		left: 220px;
		top: 0;

		input{
			display: inline;
		}
	}

	.col-sm-6{
		a{
			&.shape-arrow{
				.shape-arrow-bottom (@radius: 5px, @color: #4a4a4a, @x: 232px, @y: 16px);
			}
		}
	}

	.modal-footer{
		border: none;
	}
}
