//primary panel
.fanontour-panel-primary{

	border: 1px @colorK4 solid;

	.panel-heading{
		background-color: @colorB1;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.panel-title{
		font: normal 1.231em/1.4em @font-default, @font-default-system, @font-third;
		color: @colorW;		
	}
}

.panel-accordion{
	.panel-title{
		text-transform: uppercase;
		font: normal 1.3em @font-title, @font-default-system, @font-third;
		color: @colorK2;		
	}

	.panel-heading{
		&.active{
			background-color: @colorG1;
			
			h4{
				a{
					color: @colorW;

				}
			}
		}		
	}
}