//panel default
.panel-default{
	.panel-heading{
		padding: 0;
	}

	h4{
		a{
			padding: 10px 15px;
			display: block;
		}
	}
}

//primary panel
.fanontour-panel-primary{

	border: 1px @colorK4 solid;

	.panel-heading{
		background-color: @colorB1;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.panel-title{
		font: normal 1.231em/1.4em @font-default, @font-default-system, @font-third;
		color: @colorW;		
	}
}

.panel-accordion{
	.panel-title{
		text-transform: uppercase;
		font: normal 1.3em @font-title, @font-default-system, @font-third;
		color: @colorK2;		
	}

	.panel-heading{

		padding: 0;

		h4{
			a{
				padding: 10px 15px;
				display: block;
			}
		}

		&.active{
			h4{
				a{
					color: @colorW;
				}
			}
			
			background-color: @colorG1;			
		}

		&.warning{
			background-color: @colorY1;
		}

		&.has-error{
			background-color: @colorR1;
		}		
	}
}

//calendars
.bootstrap-datetimepicker-widget td.disabled{
	.opacity(.5);
}