//panel default
.panel-default{
	.panel-heading{
		padding: 0;
	}

	h4{
		a{
			padding: 10px 15px;
			display: block;
		}
	}
}

//primary panel
.fanontour-panel-primary{

	border: 1px @colorK4 solid;

	.panel-heading{
		background-color: @colorB1;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.panel-title{
		font: normal 1.231em/1.4em @font-default, @font-default-system, @font-third;
		color: @colorW;		
	}
}

//panel accordion
.panel-accordion{
	.panel-title{
		text-transform: uppercase;
		font: normal 1.3em @font-title, @font-default-system, @font-third;
		color: @colorK2;		
	}

	.panel-heading{

		padding: 0;

		h4{
			a{
				padding: 10px 15px;
				display: block;
			}
		}

		&.active{
			h4{
				a{
					color: @colorW;
				}
			}
			
			background-color: @colorG1;			
		}

		&.warning{
			background-color: @colorY1;
		}

		&.has-error{
			background-color: @colorR1;
		}		
	}
}

// PANEL BOX
.panel-box{
	border: 1px solid @color_line;
	img{
		width: 100%;
	}
}
.panel-box-body{
	padding: .7em;
	h2, h3{
		margin-top: 0;
	}
	p{
		font-size: 1.077em;
	}
}

//panel-box-block
.panel-box-block{
	border: 1px @colorK4 solid;
	background-color: @colorW;
	padding: 1.692em;
	margin-bottom: .8em;
	
	h1, h2{margin-top: 0;}
	
	&.panel-mini{padding: .2em;}
}

//panel-filter
.panel-filter{
	h2{
		background-color: @colorB1;
		font: normal 1.154em @font-title, @font-title-system, @font-third;
		color: @colorW;
		text-transform: uppercase;
		padding: 10px 0;
		text-align: center;
		.border-radiuses (@topright: @radius, @bottomright: 0, @bottomleft: 0, @topleft: @radius);
		margin-bottom: 0;
	}

	label{
		display: block;

		span{
			font-family: @font-default-system, @font-third;
		}
	}

	input{
		margin-bottom: 15px;
	}

	.dropdown-form{
		a{
			&.shape-arrow{

				display: block;

				.shape-arrow-bottom (@radius: 5px, @color: #4a4a4a, @x: 214px, @y: 12px);
			}
		}

		

		&.small-field-w{
			a{
				&.shape-arrow{
					.shape-arrow-bottom (@radius: 5px, @color: #4a4a4a, @x: 36px, @y: 11px) !important;
				}
			}

			.dropdown-menu{
				top: 25px;
				width: 50px;
			}
		}
	}		

	.tooltip.top{
		top: 15px !important;

		.tooltip-arrow{
			border-top-color: transparent;
			border-bottom-color: @colorB1;
			border-width: 0 5px 5px;
			top: 0;
			bottom: inherit; 
		}
	}

	&.accordion{
		h2{
			padding: 0;
			a{
				padding: 10px 0;
				color: @colorW;
				display: block;
			}

			small{
				color: @colorW;
				padding-left: 5px;
			}
		}
	}
}

//panel-pagination
.panel-pagination{

	label{
		float: left;
		padding-top: 8px;
	}

	.dropdown{
		display: inline-block;

		.shape-arrow{
			display: block;
		}
	}

	.pagination{
		margin: 0 20px 0 0;
		float: right;

		a{
			cursor: pointer;
		}
	}
}

//panel-fix-top
.panel-fix-top{
	&.active{
		position: fixed;
		top: 10px;	
		width: 255px;	
	}	

	&.limit-height{
		position: absolute;
		bottom: 64px;
		top: inherit;
	}
}

//panel-results
.panel-result{

	margin-top: 20px;	
	.box-shadow (0px 3px 5px 0px rgba(50, 50, 50, 0.5));
	padding: 0 !important;
	border: none !important;

	.mod-txt{
		display: block;
		min-height: inherit !important;

		h2{
			width: 100%;
			padding: 12px 25px;
			font-family: @font-title, @font-title-system, @font-third;
			color: @colorW;
			display: block;
			background-color: @colorK21;
			.border-radiuses (@topright: @radius, @bottomright: 8, @bottomleft: 0, @topleft: @radius);
			text-shadow: 1px 1px #000; 
		}
	}

	.result-footer{
		padding: 20px;
	}
}

//panel-custom
.panel-custom{
	padding: 0;

	h3{
	
		font: normal 1em/1.1em 'robotomedium', @font-title-system, @font-third;
		background-color: @colorK2;
		color: @colorW;
		display: block;
		padding: 10px 0;
		text-align: center;
		text-shadow: 1px 1px @colorK;

		span{
			color: @colorW;
		}
		
	}
}

//calendars
.bootstrap-datetimepicker-widget td.disabled{
	.opacity(.5);
}