//tables
//default
.table{
	
	border: 1px @colorK31 solid;

	thead{
		th{
			background-color: @colorK2;
			color: @colorW;
			text-align: center;
			font-weight: normal;

			a{
				color: @colorK21;
				position: relative;
				top: -38px;

				&:hover{
					color: @colorG1;
				}
			}
		}

		tr{
			&:hover{
				td{
					background-color: @colorK2;
					color: @colorW;
				}
			}
		}
	}

	tbody{
		th{
			background-color: #d9edf7;
			text-align: center;
			text-transform: uppercase;
			color: @colorK1;
			text-shadow: 1px 1px @colorW;

			span{
				color: @colorK21;
				font-size: .9em;
			}
		}	

		.description{
			width: 800px;
		}

		ul{
			margin: 0;
		}

		li{
			border-left: 1px @colorK3 solid;
			line-height: 1em;

			&:first-child{
				border: none;
			}
		}	
	}

	td{
		text-align: center;
		vertical-align: middle;
		line-height: 29px !important;
	}

	tr:nth-child(2n){
		background-color: @colorW;
	}

	tr:hover{
		background-color: @colorK31;
	}

	&.t_border{
		td{
			border: 1px @colorK31 solid;
		}
	}
}

//table-alerts
.table-alerts{
	.save{
		display: none;
	}
}