.text-new-feature{
	font: normal 1.2em @font-title, @font-title-system, @font-third;
	width: 119px;
	padding: 51px 0;
	text-align: center;
	color: @colorW;
	.rotate(35deg);

	span{
		position: relative;
		top: -6px;
	}
}
