.text-new-feature{
	font: normal 1em @font-title, @font-title-system, @font-third;
	background-color: @colorR1;	
	color: @colorW;
}

//SIZE
.big-text{
	font: normal 2em @font-title, @font-title-system, @font-third;
	text-shadow: 1px 1px @colorW;
}

.small-text{
	font-size: .7em;
}

//COLORS
.color-convert{
	color: @colorB1;
}

.color-text-light{
	color: @colorK3;
}

blockquote{
	font-size: 1.1em;
}

.postdata{
	color: @colorK3;
}
